---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>Blogs are great</h1>
  <p>
    Here is a blog post about how great blogs are. HTML is a great way to write
    content. You can add comments to your blog post with <a
      href="https://github.com/ascorbic/bluesky-comments-tag"
      >the Bluesky comments tag</a
    >. Maybe you'd like to comment about it on Bluesky too, or maybe discuss
    espresso martinis instead.
    <p>
      <a href="https://bsky.app/profile/mk.gg/post/3lb3cxyeh3c2f"
        >Comment on Bluesky</a
      >
    </p>
    <bluesky-comments url="https://bsky.app/profile/mk.gg/post/3lb3cxyeh3c2f"
    ></bluesky-comments>
  </p>
  <script>
    import "bluesky-comments-tag/load";
  </script>
</Layout>
